# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Entorno
.env
.env.*
!.env.example

# Node / React / Vite
node_modules/
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp